<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### objectives that this notebook covers  
* list popular languages used in Data Science
* list some commonly used libraries used by Data Scientists
* list some tools that are used in Data Science
* list few examples of evaluating arithmetic expressions in Python
* converting 200 minutes to hours by diving by 60

Some of the popular languages that Data Scientists use are:

1. python
2. c++
3. c
4. javascript

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Keras
4. plotly

|Data Science Tools|
--------------------
|python|
|R|
|Jupyter notebook|
|SQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#addition
1+1

2

In [5]:
#subtraction
30-21

9

In [6]:
#multiplication
40*5

200

In [9]:
#division
100/4

25.0

This a simple arithmetic expression to mutiply then add integers

In [10]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [16]:
total_minutes = 200

hours = total_minutes // 60

minutes = total_minutes % 60

time = "{}:{}".format(hours, minutes)

print(time)

3:20

## Author
Pranav Prabhakumar